h1 {
  color: green; }

h2 {
  color: yellow; }

h3 {
  color: blue; }

h4 {
  color: blue; }

.question-level-1 {
  margin-left: 2em; }

.question-level-2 {
  margin-left: 4em; }

.question-level-3 {
  margin-left: 6em; }

.question-level-4 {
  margin-left: 8em; }
