- content_for :head do
  = javascript_include_tag 'exercises/values_sort.js'

- content_for :page_head do
  %h1 Values Card Sort

#instructions
  Instructions text

#card-stack
  =#VALUES_SORT_VALUES.join(', ')
  -#30.times do |i|
  -VALUES_SORT_VALUES.each_with_index do |value, i|
    %div(class="#{i+1} value-card from-stack")
      %span(class="#{i+1} value from-stack")
        ="#{value}"

#choice-columns
  #least-important.connectedSortable
    %h2 Least Important
  
  #somewhat-important.connectedSortable
    %h2 Somewhat Important
  
  #most-important.connectedSortable
    %h2 Most Important

#trash-bin